[flake8]
max-line-length = 120
max_complexity = 10
import-order-style = pycharm
inline-quotes = single
multiline-quotes = single
docstring-quotes = double
ban-relative-imports = true
application-import-names = downloader,models,utils
