[MAIN]

ignore-paths=bot/migrations

load-plugins=pylint_django
django-settings-module=examples.settings_dev

[FORMAT]

max-line-length=120

[MESSAGES CONTROL]

enable=
    use-symbolic-message-instead,
    useless-suppression,


disable=
    attribute-defined-outside-init,
    invalid-name,
    missing-docstring,
    protected-access,
    too-few-public-methods,
    # handled by black
    format,
    fixme,
    logging-fstring-interpolation,
    too-many-arguments,
    too-many-return-statements,
    too-many-instance-attributes,
    consider-using-f-string,
    too-many-locals,
    broad-exception-caught,

[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=20

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=yes

# Signatures are removed from the similarity computation
ignore-signatures=yes
