[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tiktokapipy = "==0.2.2"
playwright = "==1.36.0"
"discord.py" = "==2.3.1"

[dev-packages]
black = "==23.7.0"
ruff = "==0.0.280"

[requires]
python_version = "3.11"
